{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% if currentPath in ["/register-learner", "/register-instructor"] %}
<footer class="container fixed-bottom mt-5 mb-3 footer__container">
{% else %}
<footer class="container mt-5 mb-3 footer__container">
{% endif %}
	<div class="row d-flex flex-column-reverse flex-lg-row align-items-center">
		<div class="col-lg-6 text-center text-lg-start">
			<p class="m-0 h5">© 2022 ECO-IT by D.BOUSCARLE</p>
		</div>
		<div class="col-lg-6 d-flex justify-content-center justify-content-lg-end">
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="https://github.com/vikingsurfeur" target="_blank">
						<i class="fab fa-github fa-2x"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="ms-5" href="https://www.behance.net/davidbouscarle" target="_blank">
						<i class="fab fa-behance fa-2x"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="ms-5" href="https://www.linkedin.com/in/davidbouscarle/" target="_blank">
						<i class="fab fa-linkedin fa-2x"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>