{% extends 'base.html.twig' %}

{% block title %}Home - ECO IT{% endblock %}
{% block body %}
<div class="container-fluid g-0 homepage__container">
    <!-- SUBTITLE -->
    <section class="container homepage__container__subtitle">
        <div class="row">
            <div class="col">
                <h2 class="text-center fw-bold">Bienvenue !</h2>
                <h4 class="text-center">
                    <span class="text-primary">ECO IT</span> est une plateforme d'apprentissage écologiquement
                    responsable qui vous permet de vous former en toute simplicité.
                </h4>
            </div>
        </div>
    </section>
    <!-- HEADER HERO -->
    <div class="container-fluid homepage__container__headerhero">
        <h1 class="homepage__container__headerhero__title">
            <span class="homepage__container__headerhero__title__content">eco it</span>
        </h1>
    </div>
    <!-- COURSES -->
    <section class="container homepage__container__course">
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="text-center fw-bold">Nos derniers cours</h2>
            </div>
        </div>
        <div class="row px-5">
            {% include 'components/course.loop.html.twig' %}
        </div>
    </section>
    <!-- DISCLAIMER -->
    <section class="container homepage__container__disclaimer">
        <div class="row">
            <div class="col">
                <h5 class="text-center">
                    Vous n'êtes pas inscrit à la plateforme ? <a href="{{ path('app_login') }}">Cliquez ici</a> pour en savoir plus.
                </h5>
            </div>
        </div>
    </section>
</div>
{% endblock %}