{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">Espace Administrateur</h1>
		<p class="lead">
			Bienvenue dans l'administration du site ECO-IT
		</p>
		<hr class="my-4">
		<p>
			Vous pouvez gérer les différents utilisateurs du site grâce à la section "utilisateurs" ci-contre.
		</p>
	</div>

{% endblock %}
