// Home page layout
.course__container {
    margin-top: 12vh;

    &__search__bar {
        margin-top: 50px;
        max-width: 80vw !important;

        @include for-size(md) {
            max-width: 50vw !important;
        }
    
        @include for-size(lg) {
            max-width: 30vw !important;
        }
    
        @include for-size(xl) {
            max-width: 20vw !important;
        }
    }
}