// Home page layout
.homepage__container {
    margin-top: 15vh;

    &__subtitle {
        margin-bottom: 2.5rem;
    }

    &__headerhero {
        position: relative;
        min-height: 40vh;
        background-image: url('/assets/images/eco_it_headerhero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &__content {
                color: $secondary;
                font-size: 3rem;
                font-weight: bold;
                line-height: 1.2;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
            }
        }
    }
}