{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}

	{% if app.user.isAccepted %}
		<div class="jumbotron">
			<h1 class="display-4">Espace Formateur</h1>
			<p class="lead">
				Heureux de vous revoir Mr {{ app.user.firstName }} {{ app.user.lastName }} !
				Bienvenue dans l'administration formateur du site ECO-IT.
			</p>
			<hr class="my-4">
			<p>
				Vous pouvez gérer vos différents cours en cliquant sur les boutons ci-contre.
			</p>
			<!-- DOC -->
			<section class="container">
				<h2>
					<span class="badge badge-primary me-2">DOC</span>Comment créez vos cours ?</h2>
				<div class="row">
					<div class="col">
						<ol class="list-group list-group-flush">
							<li class="list-group-item">
								Créez vos cours en cliquant sur le bouton "Mes cours".
							</li>
							<li class="list-group-item">
								Ensuite, ajoutez les sections de vos cours en cliquant sur le bouton "Mes Sections".
							</li>
							<li class="list-group-item">
								Vous pouvez enfin ajouter vos leçons en cliquant sur le bouton "Mes leçons".
							</li>
							<li class="list-group-item">
								N'hésitez pas à agrémenter vos cours à l'aide d'images ou de documents !
							</li>
							<li class="list-group-item">
								N'oubliez pas de créer des tags et de les ajouter à vos cours !
								La recherche de votre contenu sera grandement améliorée !
							</li>
						</ol>
					</div>
				</div>
			</section>
			<section class="container my-5">
				<h3>
					<span class="badge badge-primary me-2">MON COMPTE</span>
					Modifier mes informations
				</h3>
				<div class="row">
					<div class="col">
						<ol class="list-group list-group-flush">
							<li class="list-group-item">
								Vous pouvez modifier vos informations personnelles en cliquant sur le bouton "Mon compte".
							</li>
						</ol>
					</div>
				</div>
			</section>
		</div>
	{% else %}
		<div class="jumbotron">
			<h1 class="display-4">Formateur</h1>
			<p class="lead text-danger">
				Un administrateur doit vérifier votre inscription avant que vous puissiez accéder à l'administration de vos cours.
			</p>
			<hr class="my-4">
			<p>
				Merci de patienter.
			</p>
			<button class="btn btn-primary btn-lg">
				<a class="text-light" href="{{ path('app_home') }}">Retour à l'accueil</a>
			</button>
		</div>
	{% endif %}

{% endblock %}
