{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">Formateur</h1>
		<p class="lead">
			Bienvenue dans l'administration formateur du site ECO-IT
		</p>
		<hr class="my-4">
		<p>
			Vous pouvez gérer vos différents cours en cliquant sur les boutons ci-dessous.
		</p>
	</div>

{% endblock %}