{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid g-0 user__course__container">
        <div class="row px-5">
            <div class="col-12">
                <h1 class="d-flex justify-content-center align-items-center fw-bold h2 mb-4 user__course__container__title">
                    Mes cours
                </h1>
            </div>
        </div>
    </div>
{% endblock %}